// All variable here

//Color
$primaryColor: #c0392b;
$baseColor: #111111;

//Fonts
$baseFont: 'Open Sans', sans-serif;
$baseFontSize: 1.6rem;
$baseLineHeight: 1.75;

//Heading Fonts
$headingFont: 'Poppins', sans-serif;

